@model ConcordMfg.PremierSeniorSolutions.WebService.BusinessEntities.AccountViewModel

@{
    ViewBag.Title = "PSS | Edit account";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using PSS.WebWithAuth.Infrastructure
@Html.Resource(@<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>, "js")
@Html.Resource(@<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>, "js")
<section class="page clearfix">
	<div class="wrap clearfix">
		<h1 class="quote">
			Edit Account
		</h1>
		<div class="clearfix"></div>
		<div class="formArea clearfix">
@using (Html.BeginForm("Edit", "Account", FormMethod.Post, new { @class = "searchForm editForm" }))
{
    @Html.AntiForgeryToken(Configurations.AntiForgeryTokenSalt)
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.ClientGuid)
    @Html.HiddenFor(model => model.CityStateZipGuid)
    @Html.HiddenFor(model => model.PaymentInfoGuid)
    @Html.HiddenFor(model => model.IsWaiverd)
    @Html.HiddenFor(model => model.FreeDays)
    @Html.HiddenFor(model => model.AccountBalance)
    @Html.HiddenFor(model => model.IsSuspended)
    @Html.HiddenFor(model => model.IsActive)
			<fieldset class="row left small">
				<label class="smallCol">
					Company Name                    
                    @Html.EditorFor(model => model.ClientName)
                    @Html.ValidationMessageFor(model => model.ClientName)
				</label>
				<label class="smallCol">
					Address
					@Html.EditorFor(model => model.Address)
                    @Html.ValidationMessageFor(model => model.Address)
				</label>
				<label class="smallCol">
					City
					@Html.EditorFor(model => model.City)
                    @Html.ValidationMessageFor(model => model.City)
				</label>
			</fieldset>
						
			<fieldset class="row left small">
				<label class="smallCol">
					State
					@Html.EditorFor(model => model.State)
                    @Html.ValidationMessageFor(model => model.State)
				</label>
				<label class="smallCol">
					Zip Code
					@Html.EditorFor(model => model.ZipCode)
                    @Html.ValidationMessageFor(model => model.ZipCode)
				</label>
				<label class="smallCol">
					Phone Number
					@Html.EditorFor(model => model.PhoneNumber)
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
				</label>
                <label class="smallCol">
                    <label class="label_check">
                        Account paused
                        @Html.EditorFor(model => model.PauseAccount)
                    </label>
                </label>
			</fieldset>
			<fieldset class="row left submitArea small">
				<button type="submit" class="btnPattern submit right">Save</button>
                @Html.ActionLink("Back to View", "See", "Account", null, new { @class = "btnPattern submit right" })
			</fieldset>
}<!--/searchForm-->
		</div>
	</div>
</section><!--/page-->