@model PSS.WebWithAuth.ViewModels.LogInViewModel
@{
    ViewBag.Title = "Admin Login";
    Layout = "~/Views/Shared/_AdminBeforeLogin.cshtml";
}
@using PSS.WebWithAuth.Infrastructure;
@Html.Resource(@<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>, "js")
@Html.Resource(@<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>, "js")
<section class="page home clearfix">
	<div class="wrap clearfix">
		<h1 class="quote">
			Forgot Password
		</h1>
		<div class="imgWrapper">
			<img src="@Url.Content("~/Content/i/couple2.png")" alt="Your Guide To Local Assisted Living Options">
		</div>
		<div class="clearfix"></div>
        <div class="formArea clearfix">
		<div class="fullW noTop">
			<div class="right">                
                @Html.ActionLink("Back to Login", "LogIn", null, new { @class = "btnPattern submit leftNoPadding right" })
			</div>
		</div>
		<div class="fullW noTop">
            <div class="left">
                <p class="field-validation-error" style="color:#2A8882 !important;">Plesae enter your Email and answer security question to the next step.</p>
            </div>
		</div>
@using (Html.BeginForm("ForgotPwd", "Admin", FormMethod.Post, new { @class = "searchForm editForm" }))
{
    @Html.AntiForgeryToken(Configurations.AntiForgeryTokenSalt)
    //<span style="font-weight: bold; color: #ff0000;">@Html.ValidationSummary(true)</span> 
            @Html.ValidationMessage("")     
			<fieldset class="row left small">       
				<label class="smallCol">
                    <p>Enter Username</p> 
                    <div>@Html.EditorFor(model => model.UserName, new { @class = "input" })</div>                 
                    <div>@Html.ValidationMessageFor(model => model.UserName)</div>                
				</label>				
              <label class="smallCol">
				 <button type="submit" class="btnPattern submit leftNoPadding left"  >Send</button>
			</label>
			</fieldset>
}
		</div>
    </div>
</section>
